*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  color: black;
}

.newgame {
  visibility: hidden;
  display: inline-block;
  margin: 1em 0;
  height: 2em;
  width: 6em;
  font-size: 1em;
}

.box {
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 3px solid black;
  position: relative;
}
  .box:hover {
    cursor: crosshair;
  }

.box1, .box2, .box3 { border-top: none; }
.box1, .box4, .box7 { border-left: none; }
.box3, .box6, .box9 { border-right: none; }
.box7, .box8, .box9 { border-bottom: none; }


.box span {
  position: absolute;
  font-size: 200px;
  font-family: serif;
  top: -18px;
  left: 25px;
}

.result {
  font-size: 70px;

}

.container {
  text-align: center;
  margin: 1em 0;
}

img {
  width: 100%;
}

.beer {
  display: none;
  width: 150px;
}

.catsgame {
  display: none;
  width: 150px;
}


@media screen and (max-width: 620px){

  .newgame  {
    display: inline-block;
    visibility: hidden;
    margin: 1em 0;
    height: 2em;
    width: 6em;
    font-size: 1em;
  }

  .container {
    text-align: center;
    margin: 1em 0;
  }


  .box {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 1.2px solid black;
    position: relative;
  }

  .box span {
    position: absolute;
    font-size: 100px;
    font-family: serif;
    top: -7px;
    left: 13px;
  }

  .box1, .box2, .box3 { border-top: none; }
  .box1, .box4, .box7 { border-left: none; }
  .box3, .box6, .box9 { border-right: none; }
  .box7, .box8, .box9 { border-bottom: none; }


  img {
    width: 100%;
  }

  .beer {
    display: none;
    margin-top: 5px;
    width: 100px;
  }

  .result {
    font-size: 25px;
  }

}
